<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krystian Sawicki CV</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <ul>
                <li>
                    <a href="/">
                        <div><img id="nav" src="img/dark-mode/navbar/home.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a id="change-mode">
                        <div><img id="nav" src="img/dark-mode/navbar/theme.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/skills">
                        <div><img id="nav" src="img/dark-mode/navbar/abilities.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <div><img id="nav" src="img/dark-mode/navbar/projects.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/uc?export=download&id=1uPIBV2lldGf1LW0rp3qQoE4_7QQcxfww">
                        <div><img id="nav" src="img/dark-mode/navbar/download.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <h1>KRYSTIAN SAWICKI</h1>
                <p>FRONTEND DEVELOPER</p>
            </div>
            <div class="about">
                <p>I am a frontend developer from Warsaw, Poland. For the last 3 years I have been learning various programming languages
                    such as Python and C++, which helped me quickly learn and understand the basics of HTML, CSS and JavaScript.
                    I am a fast learner who is passionate about frontend technologies.</p>
            </div>
            <div class="main-content">
                <div class="column">
                    <div>
                        <img class="main-img" src="img/dark-mode/home-site/education.png" alt="">
                        <p class="pre-line">Mechatronics Technician
                            Technical School in Chełm<p>
                    </div>
                    <div>
                        <img class="main-img main-img-top" src="img/dark-mode/home-site/languages.png" alt="">
                        <p class="pre-line">English - B2
                            Polish - native
                        </p>
                    </div>
                </div>
                <div class="column">
                    <img class="main-img" src="img/dark-mode/home-site/info.png" alt="">
                    <ul>
                        <li>
                            <a href="https://github.com/Kry5t14n" target="_blank"><img class="point" src="img/dark-mode/home-site/info/github.png" alt=""></a>
                            <a class="point" href="https://github.com/Kry5t14n" target="_blank">Github</a>
                        </li>
                        <li>
                            <img src="img/dark-mode/home-site/info/phone.png" alt="">
                            <p>579-065-318</p>
                        </li>
                        <li>
                            <a href="mailto: ksawicki9182@gmail.com"><img class="point" src="img/dark-mode/home-site/info/email.png" alt=""></a>
                            <a class="point" href="mailto: ksawicki9182@gmail.com">ksawicki9182@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- javascript -->
    <script src="js/change-theme.js"></script>
</body>
</html>