<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <ul>
                <li>
                    <div>
                        <a href="/"><img src="img/dark-mode/navbar/home-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/navbar/theme-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/navbar/abilities-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/navbar/projects-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/navbar/contact-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/navbar/download-light.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <h1>KRYSTIAN SAWICKI</h1>
                <p>FRONTEND DEVELOPER</p>
            </div>
            <div class="about">
                <p>I am a frontend developer from Warsaw, Poland. For the last 3 years I have been learning various programming languages
                    such as Python and C++, which helped me quickly learn and understand the basics of HTML, CSS and JavaScript.
                    I am a fast learner who is passionate about frontend technologies.</p>
            </div>
            <div>
                <img src="" alt="">
                <ul></ul>
            </div>
            <div>
                <img src="" alt="">
                <ul></ul>
            </div>
            <div>
                <img src="" alt="">
                <ul></ul>
            </div>
        </div>

    </div>
</body>
</html>