<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/home-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/theme-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/abilities-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/projects-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/contact-light.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/dark-mode/download-light.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="main">

            <div>
                <h1></h1>
            </div>

            <div>
                <p></p>
            </div>

            <div>
                <img src="" alt="">
                <ul></ul>
            </div>
            <div>
                <img src="" alt="">
                <ul></ul>
            </div>
            <div>
                <img src="" alt="">
                <ul></ul>
            </div>

        </div>
    </div>
</body>
</html>