<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <ul>
                <li>
                    <a href="/">
                        <div class="nav-element" data-tooltip="Home"><img class="nav" src="img/dark-mode/navbar/home.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a id="change-mode">
                        <div class="nav-element" data-tooltip="Change Theme"><img class="nav" src="img/dark-mode/navbar/theme.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/skills">
                        <div class="nav-element" data-tooltip="Skills"><img class="nav" src="img/dark-mode/navbar/abilities.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <div class="nav-element" data-tooltip="Projects"><img class="nav" src="img/dark-mode/navbar/projects.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/uc?export=download&id=1uPIBV2lldGf1LW0rp3qQoE4_7QQcxfww">
                        <div class="nav-element" data-tooltip="Download CV in PDF"><img class="nav" src="img/dark-mode/navbar/download.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <h1>PROJECTS</h1>
            </div>
            <div class="row-container">
                <div class="row-projects">
                    <div class="element-projects">
                        <a href="/photo-slider" target="_blank"><img src="img/projects/slide-show.png" alt=""></a>
                        <p>Photo Slider</p>
                    </div>
                    <div class="element-projects">
                        <a href="/dice-game" target="_blank"><img src="img/projects/dice-game.png" alt=""></a>
                        <p>Dice Game</p>
                    </div>
                </div>
                <div class="row-projects">
                    <div class="element-projects">
                        <a href="/counter" target="_blank"><img src="img/projects/counter.png" alt=""></a>
                        <p>Counter</p>
                    </div>
                    <div class="element-projects">
                        <a href="/guess-the-number" target="_blank"><img src="img/projects/guess-the-number.png" alt=""></a>
                        <p>Guess The Number Game</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- javascript -->
    <script src="js/theme/projects.js"></script>
</body>
</html>