<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <ul>
                <li>
                    <a href="/">
                        <div><img src="img/dark-mode/navbar/home-light.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div><img src="img/dark-mode/navbar/theme-light.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/skills">
                        <div><img src="img/dark-mode/navbar/abilities-light.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div><img src="img/dark-mode/navbar/projects-light.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/uc?export=download&id=1uPIBV2lldGf1LW0rp3qQoE4_7QQcxfww">
                        <div><img src="img/dark-mode/navbar/download-light.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <h1>PROJECTS</h1>
            </div>
            <div class="row-container">
                <div class="row-projects">
                    <div class="element-projects">
                        <a href=""><img src="img/projects/counter.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis distinctio alias, voluptates dolores eum.</p>
                    </div>
                    <div class="element-projects">
                        <a href=""><img src="img/projects/dice-game.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi corrupti in id quibusdam ratione repellat.</p>
                    </div>
                </div>
                <div class="row-projects">
                    <div class="element-projects">
                        <a href=""><img src="img/projects/dice-game.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error saepe minima omnis minus corporis delectus.</p>
                    </div>
                    <div class="element-projects">
                        <a href=""><img src="img/projects/counter.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quo pariatur earum laboriosam suscipit atque.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>