<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/skills.css">
</head>
<body>
    <div class="container">

        <div class="navbar">
            <ul>
                <li>
                    <a href="/">
                        <div><img class="nav" src="img/dark-mode/navbar/home.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a id="change-mode">
                        <div><img class="nav" src="img/dark-mode/navbar/theme.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/skills">
                        <div><img class="nav" src="img/dark-mode/navbar/abilities.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <div><img class="nav" src="img/dark-mode/navbar/projects.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/uc?export=download&id=1uPIBV2lldGf1LW0rp3qQoE4_7QQcxfww">
                        <div><img class="nav" src="img/dark-mode/navbar/download.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="title">
                <h1>SKILLS</h1>
            </div>
            <div class="content">
                <div class="row">
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/html.png" alt="">
                        <h2>HTML</h2>
                    </div>
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/css.png" alt="">
                        <h2>CSS</h2>
                    </div>
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/javascript.png" alt="">
                        <h2>JavaScript</h2>
                    </div>
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/nodejs.png" alt="">
                        <h2>Node.js</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/python.png" alt="">
                        <h2>Python</h2>
                    </div>
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/cpp.png" alt="">
                        <h2>C++</h2>
                    </div>
                    <div class="element">
                        <img class="skills" src="img/dark-mode/skills-site/office.png" alt="">
                        <h2>Microsoft Office</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- javascript -->
    <script src="js/theme/skills.js"></script>
</body>
</html>