.title {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
}

.title h1 {
    font-size: 5vh;
    font-weight: 500;
}

.title p {
    font-size: 3vh;
    margin-top: 1vh;
}

.about {
    display: flex;
    height: 20%;
    justify-content: center;
}

.about p {
    align-items: center;
    background-color: var(--main-1);
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    display: flex;
    font-size: 2vh;
    justify-content: center;
    padding: 4vh;
    text-align: center;
    white-space: pre-line;
    width: 75%;
}

.main-img {
    height: 10vh;
    margin-bottom: 2vh;
    width: 10vh;
}

.main-img-top {
    margin-top: 4vh;
}

.main-content {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: center;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    width: 40%;
}

.column div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pre-line {
    text-align: center;
    white-space: pre-line;
}

.column ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column li {
    display: flex;
    list-style: none;
    margin-bottom: 1vh;
}

.column li img {
    height: 4vh;
    margin-right: 1vh;
    width: 4vh;
}
