:root {
    --main-0: #1E1E1E;
    --main-1: #272727;
    --main-2: #303030;
    --main-3: #404040;
    --main-4: #F5F5F5;

    --color-light: #66AB53;
    --color-dark: #426539;
}

* {
    color: var(--main-4);
    cursor: default;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vh;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    align-items: center;
    background-color: var(--main-2);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.container {
    align-items: center;
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    display: flex;
    height: 85%;
    justify-content: center;
    width: 80%;
}

.main {
    background-color: var(--main-0);
    border-radius: 0 2vh 2vh 0;
    height: 100%;
    width: 93%;
}

.navbar {
    align-items: center;
    background-color: var(--main-1);
    border-radius: 2vh 0 0 2vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 7%;
}

.navbar ul {
    list-style: none;
}

.navbar ul div {
    align-items: center;
    background-color: var(--main-2);
    border-radius: 50%;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    display: flex;
    height: 8vh;
    justify-content: center;
    margin: 2vh 0;
    width: 8vh;
}

.navbar ul div:hover {
    background-color: var(--color-light);
    box-shadow: none;
    cursor: pointer;
    transform: scale(0.8);
    transition-duration: 300ms;
}

.navbar ul a div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar img {
    cursor: pointer;
    height: 50%;
    margin: 1vh 0;
    width: 50%;
}

.point {
    cursor: pointer;
}